
<!-- header id="mainHeader" class="mainHeader">

    <h1 class="mainHeader_logo"> Wolftech News </h1>

    <h2 class="mainHeader_clock"
        data-ng-controller="clockCtrl"
        title="{{time | date: 'fullDate'}}">

            {{time | date: 'HH:mm'}}<span>{{time | date: ':ss'}}</span>
    </h2>

    <div class="mainHeader_user"
        data-ng-show="user.show"
        data-ng-cloak>

        <a href="/user" class="mainHeader_user_link">
            <div class="mainHeader_user_image"
                data-ng-if="user.image"
                data-ng-style="{'background-image':'url('+user.image+')'}"></div>

            <h3 class="mainHeader_user_name">
                Signed in as
                <span> {{user.name}} </span>
            </h3>
        </a>

        <a data-ng-click="auth.logout($event)"
            class="mainHeader_user_signout"
            href="/"
            title="Sign out of Wolftech News">
                Sign out
            </a>

    </div>

</header -->